# Google Cloud Console > APIs & Services > Credentials
# Create an OAuth 2.0 Client ID of type "Desktop app".
VITE_GOOGLE_CLIENT_ID=xxxxxxxxxx.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=

# Firebase Console > Project settings > General > Web API Key
VITE_FIREBASE_API_KEY=
